footer {
  margin-top: auto;
  width: 100%;
  font-size: 15px;
  color: var(--overlay0);
  background-color: var(--crust);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;

  transition: background-color 400ms ease-in-out;
}

footer img {
  border: none;
}

footer > div {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}

@media (min-width: 1200px) {
  footer > div {
    justify-content: space-between;
  }
}

@media (max-width: 1199px) {
  footer > div {
    justify-content: center;
    column-gap: 10em;
  }

  .links_wrapper {
    align-items: center;
  }
}

.left_wrapper {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

footer a {
  color: var(--blue);
}

footer a::after {
  all: unset;
  content: "↗";
  display: inline;
  color: inherit;
  position: absolute;
  background: none;
  font-family: "Jetbrains Mono";
  margin-left: 3px;
}

footer a:hover::after {
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
}

footer a:hover {
  color: var(--subtext0);
}

.links_wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  padding-bottom: 30px !important;
}
