@import "https://unpkg.com/open-props/easings.min.css";

.page-header {
  font-size: 2.5em;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}

.page-header span {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.centered-header {
  font-family: var(--header-font);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4em;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

header .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 1.5rem;
  position: relative;
}

.main a {
  z-index: 9999;
}

.sun-and-moon {
  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: var(--text-0);

    .theme-toggle:is(:hover, :focus-visible) > & {
      fill: var(--subtext0);
    }
  }

  & > .sun-beams {
    stroke: var(--text-0);
    stroke-width: 2px;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: var(--subtext0);
    }
  }
}

.sun-and-moon {
  html.dark & {
    & > .sun {
      transform: scale(1.75);
    }

    & > .sun-beams {
      opacity: 0;
    }

    & > .moon > circle {
      transform: translateX(-7px);

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
      }
    }
  }
}

.sun-and-moon {
  & > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  & > .sun-beams {
    transition:
      transform 0.5s var(--ease-elastic-4),
      opacity 0.5s var(--ease-3);
  }

  html.dark & {
    & > .sun {
      transform: scale(1.75);
      transition-timing-function: var(--ease-3);
      transition-duration: 0.25s;
    }

    & > .sun-beams {
      transform: rotateZ(-25deg);
      transition-duration: 0.15s;
    }
  }
}

.sun-and-moon {
  & .moon > circle {
    transition: transform 0.25s var(--ease-out-5);

    @supports (cx: 1) {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  html.dark & {
    & > .moon > circle {
      transition-delay: 0.25s;
      transition-duration: 0.5s;
    }
  }
}

header .socials {
  // margin-bottom: 10px;
  /* Space between social icons and menu items */
}

#dark-mode-toggle {
  justify-content: center;
}

.socials {
  /* flex-child */
  flex-grow: 0;
  /* flex-container */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.social {
  border-bottom: unset;
  background-image: unset;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.social::after {
  background: none;
}

.social:hover {
  background: var(--primary-color);
}

.social > svg {
  border: unset;
  width: 15px;
  fill: var(--text-0);
  transition: fill 150ms ease-in-out;
}

.social:hover > svg {
  fill: var(--hover-color);
}

header nav {
  display: flex;
  gap: 5px;
  z-index: 9998;
}

header nav a {
  // margin: 6px 0px;
  display: flex;
  align-items: center;
}

header nav div {
  display: flex;
  align-items: center;
}

header nav .menu-wrapper {
  display: flex;
  gap: 15px;
}

.hamburger {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  touch-action: manipulation;
}

.hamburger input::before,
.hamburger input::after,
.hamburger input {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--text-0);
  border-radius: 9999px;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
  transform-origin: center;
  pointer-events: none;
}

.hamburger input::before,
.hamburger input::after {
  position: absolute;
}

.hamburger input::before {
  transition-delay: 50ms;
  bottom: 8px;
}

.hamburger input::after {
  transition-delay: 100ms;
  top: 8px;
}

.hamburger input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  position: relative;
}

.hamburger input:checked {
  background-color: #ffffff00;
}

.hamburger input:checked::before {
  transform: translate(0, 8px) rotate(45deg);
}

.hamburger input:checked::after {
  transform: translate(0, -8px) rotate(315deg);
}

@media (min-width: 701px) {
  .mobile {
    display: none;
  }
}

/* Mobile-specific adjustments */
@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    position: relative;
  }

  .desktop {
    display: none;
  }

  header nav {
    flex-direction: column;
    width: 100%;
    top: 4em;
    position: absolute;
    background-color: var(--bg-0);
    padding-bottom: 1em;
    border-bottom: 4px solid var(--primary-color);

    transform: translate(0, -300px);
    opacity: 0;
    pointer-events: none;

    gap: 15px;

    transition:
      transform 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }

  .main:has(.hamburger input:checked) ~ nav {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: unset;
  }

  nav > a {
    margin: auto;
  }

  nav .menu-wrapper {
    flex-direction: column;
  }

  header .main {
    width: 100%;
  }

  .social svg {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
  }
}

.meta {
  color: var(--text-meta);
  display: flexbox;
  /* This changes the meta class to use flexbox, which ensures inline display */
  align-items: center;
  /* Aligns items vertically in the middle */
  flex-wrap: wrap;
  /* Allows items to wrap as needed */
}

.icons-wrapper {
  display: flex;
  gap: 7px;
  justify-content: center;
}

#dark-mode-toggle {
  background: none;
  border: none;
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}

#dark-mode-toggle > svg {
  width: 24px;
  max-width: 24px;
  height: 24px;
  max-height: 24px;
  border: unset;
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h1::before {
  color: var(--primary-color);
  content: "# ";
}

h2::before {
  color: var(--primary-color);
  content: "## ";
}

h3::before {
  color: var(--primary-color);
  content: "### ";
}

h4::before {
  color: var(--primary-color);
  content: "#### ";
}

h5::before {
  color: var(--primary-color);
  content: "##### ";
}

h6::before {
  color: var(--primary-color);
  content: "###### ";
}
