<header>
    <script type="text/javascript" src="https://unpkg.com/external-svg-loader@1.0.0/svg-loader.min.js" async></script>

    <div class="main">
        <a href={{ config.base_url }}>{{ config.title }}</a>

        <div class="socials desktop">
            {% for social in config.extra.socials | default(value=[]) %}
            <a rel="me" href="{{ social.url }}" class="social">
                <svg alt={{ social.name }} data-src={{ get_url(path="social_icons/" ~ social.icon ~ ".svg") }}></svg>
            </a>
            {% endfor %}
        </div>

        <label class="hamburger mobile">
          <input type="checkbox" />
        </label>
    </div>

    <nav>
        {% for menu in config.extra.menu | default(value=[]) %}
        <a href={{ get_url(path=menu.url) }}>{{ menu.name }}</a>
        {% endfor %}

        {% if config.extra.theme | default(value="toggle") == "toggle" %}

        <div class="desktop">|</div>

        <div class="icons-wrapper">
        <div class="socials mobile">
            {% for social in config.extra.socials | default(value=[]) %}
            <a rel="me" href="{{ social.url }}" class="social">
                <svg alt={{ social.name }} data-src={{ get_url(path="social_icons/" ~ social.icon ~ ".svg") }}></svg>
            </a>
            {% endfor %}
        </div>
        <a id="dark-mode-toggle" onclick="toggleTheme(); event.preventDefault();" href="#">
            <img src={{ get_url(path="feather/sun.svg") }} id="sun-icon" style="filter: invert(1);" alt="Light" />
            <img src={{ get_url(path="feather/moon.svg") }} id="moon-icon" alt="Dark" />
        </a>

        </div>
    
        <!-- Inititialize the theme toggle icons -->
        <script>updateItemToggleTheme()</script>
        {% endif %}
    </nav>
</header>
