<header>
    <script type="text/javascript" src="https://unpkg.com/external-svg-loader@1.0.0/svg-loader.min.js" async></script>

    <div class="main">
        <img  class="logo" src="icons/no_background.png" width="60px" /> 
        <a href={{ config.base_url }}>{{ config.title }}</a>

        <div class="socials desktop">
            {% for social in config.extra.socials | default(value=[]) %}
            <a rel="me" href="{{ social.url }}" class="social">
                <svg alt={{ social.name }} data-src={{ get_url(path="social_icons/" ~ social.icon ~ ".svg") }}></svg>
            </a>
            {% endfor %}
        </div>

        <label class="hamburger mobile">
          <input type="checkbox" />
        </label>
    </div>

    <nav>
        <div class="menu-wrapper">
            {% for menu in config.extra.menu | default(value=[]) %}
            <a href={{ get_url(path=menu.url) }}>{{ menu.name }}</a>
            {% endfor %}
        </div>

        {% if config.extra.theme | default(value="toggle") == "toggle" %}

        <div class="desktop">|</div>

        <div class="icons-wrapper">
        <div class="socials mobile">
            {% for social in config.extra.socials | default(value=[]) %}
            <a rel="me" href="{{ social.url }}" class="social">
                <svg alt={{ social.name }} data-src={{ get_url(path="social_icons/" ~ social.icon ~ ".svg") }}></svg>
            </a>
            {% endfor %}
        </div>
        <button id="dark-mode-toggle" class="theme-toggle" onclick="toggleTheme(); event.preventDefault();" href="#">
            <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
                <g class="sun-beams" stroke="currentColor">
                    <line x1="12" y1="1" x2="12" y2="3" />
                    <line x1="12" y1="21" x2="12" y2="23" />
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                    <line x1="1" y1="12" x2="3" y2="12" />
                    <line x1="21" y1="12" x2="23" y2="12" />
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                </g>
                <mask class="moon" id="moon-mask">
                    <rect x="0" y="0" width="100%" height="100%" fill="white" />
                    <circle cx="24" cy="10" r="6" fill="black" />
                </mask>
            </svg>
        </button>

        </div>
    
        <!-- Inititialize the theme toggle icons -->
        <script>updateItemToggleTheme()</script>
        {% endif %}
    </nav>
</header>
