{% import "macros/macros.html" as post_macros %}

<!doctype html>
<html lang="en">
  <html class="dark light">
    {% include "partials/header.html" %}

    <body>
      <div class="content">
        {% include "partials/nav.html" %} {# Post page is the default #} {%
        block main_content %} Nothing here?! {% endblock main_content %} {% if
        config.extra.comment | default(value=false) %}
        <div class="giscus"></div>
        {% include "_giscus_script.html" %} {% endif %}
      </div>

      <!-- TODO: separate this into a partial -->
      <footer>
        <div>
          <div>
            <img class="logo" width="100px" src={{ get_url(path=config.extra.logo_dark) }} />
            <div>made with ❤️ by sunnymonster</div>
          </div>
          <!-- TODO: make this configurable instead-->
          <a href={{ get_url(path="credits" ) }}>credits</a>
        </div>
      </footer>
    </body>
  </html>
</html>
